.block {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.avatar_btn_block {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    gap: 20px;
}

.avatar_btn_block img {
    width: 50px;
    height: 50px;
}

.user_block {
    border: 1px solid grey;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    word-break: break-word;
}

.user_block_info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.status {
    font-size: 15px;
    font-style: italic;
}

.pages {
    display: flex;
    justify-content: center;
    gap:10px;
    font-size: 25px;
    padding: 20px;
}
.selectedPage{
    font-weight: bold;
}