.block {
    margin: 20px;
    display: flex;
}

.avatar_btn_block {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    gap: 20px;
}

.avatar_btn_block img {
    width: 50px;
    height: 50px;
}

.user_block {
    border: 1px solid grey;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
}

.user_block_info {
    display: flex;
    justify-content: space-between;
}
.status {
    font-size: 15px;
    font-style: italic;
}