.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}

.block {
    margin: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.avatar_btn_block {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    gap: 20px;
}

.avatar_btn_block img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.user_block {
    border: 1px solid grey;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    word-break: break-word;
    padding: 0 10px;
}

.user_block_info {
    display: flex;
    justify-content: space-between;
}

.status {
    font-size: 15px;
    font-style: italic;
}

.pages {
    position: absolute;
    top: 20px;
    left:calc(50% - 175px);
}

.pagesDown{
    position: absolute;
    bottom: 20px;
    left:calc(50% - 175px);
}