.header {
    grid-area: h;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width:5em;
    height: 100%;
}
.btn{
    width: 100px;
    height: 20px;
}
.login {
    color: aqua;
}