.header {
    grid-area: h;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    height: 66px;
}
.btn_login{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
    background-color: white;
}
.img_avatar{
    width: 50px;
    border-radius: 30px;
}

.login_block{
    display: flex;
    align-items: center;
    gap:10px;
}
