.nav {
    grid-area: n;
    background-color: moccasin;
    padding: 20px;
    font-size: 30px;
}

.item a{
    color:black;
    text-decoration: none;
}

.item a.activeLink {
    color:sandybrown;
}