.info {
    display:flex;
    flex-direction: row;
    margin: 20px;
    gap:50px;
    min-height: 200px;
    align-items: center;
}
.info_main_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.info_main_block h3{
    margin: 0;
}
.contact_info_block{
    display: flex;
    flex-direction: column;
}

.about{
    font-style: italic;
    height: 30px;
}
.job{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    gap:20px;
    height: 100%;
}
.job_checked{
    display: flex;
    gap: 10px;
}
.img {
    width: 20px;
}
.img_profile {
    width: 250px;
    height: 250px;
    border-radius: 120px;
}
