.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 5em 1fr;
  grid-template-columns: 20em 1fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: skyblue;
}