.mainWrapper{
  background-color: #f0f2f5;
  min-height: 100vh;
}
.app-wrapper {
  display: grid;
  grid-template-areas:
  "n h"
  "n c";
  grid-template-rows: 5em 1fr;
  grid-template-columns: 20em 1fr;
  min-height: 100vh;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
}